.profilePic {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 3px #fff,
        0 0 0 8px #47b16f;
    overflow: hidden;
    text-align: center;

    >img {
        height: 150px;
        margin-left: -20px;
    }
}
.EditGrid {
    .editBtn {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 1px solid rgba(72, 177, 108, 1);
        color: rgba(72, 177, 108, 1);
        box-shadow: 0px 3px 5px -1px rgba(72, 177, 108, 0.2), 0px 6px 10px 0px rgba(72, 177, 108, 0.14), 0px 1px 18px 0px rgba(72, 177, 108, 0.12);
    }
}
.title {
    color: #4caf50;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 7px;
}
.subTitle {
    font-size: 14px;
    font-weight: 400;
    padding: 0px;
}
.title1 {
    display: inline;
    font-size: 14px;
    /* font-weight: 600; */
    padding-bottom: 7px;
}
.subTitle1 {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    padding: 0px;
}
.block {
    /* padding: 10px; */
    // border-bottom: 1px solid #ccc;

    .formBlock {
        padding-bottom: 15px; 

        .formTitle {
            display: inline;
            font-family: segoeui-semibold;
            font-size: 18px;
        }
        .formSubTitle {
            display: inline;
            font-family: segoeui-semibold;
            font-size: 15px;
            padding-top: 5px;
        }
        .formDescp {
            display: inline;
            font-family: segoeui-regular;
            font-size: 15px;
            padding-top: 5px;
            padding-left: 5px;
            
            .errorText {
                font-size: 11px;
                color: red;
            }
        }
        .formFont > div> input { 
            font-family: segoeui-regular !important;
            font-size: 15px;
        }   
    }

    .greenBtn {
        font-family: Segoeui-regular;
        text-transform: capitalize;
        letter-spacing: 4px;
        font-size: 15px;
        border-radius: 0px;
        // margin-top: 35px;
        font-weight: bold;
        background-color: #4caf50 !important;
        color: #fff;
        padding: 5px 15px;
        border-radius: 0px;
        min-width: 150px;
        height: 30px;
    }
    .greenBtn:hover {
        text-decoration: none;
        background-color: rgba(76, 175, 80, 0.8);
    }
    .loginButton{
        padding: 8px 15px;
        font-family: "Segoeui-regular";
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 16px;
        border-radius: 0px;
        margin-top: 20px;
        font-weight: bold;
        color: #fff;
    }
    .errorText {
        font-size: 11px;
        color: red;
    }
}

.ProfileForm {
        padding: 0px 20px;

        .phoneLabel {
            color: rgba(0, 0, 0, 0.54);
            padding: 0;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            line-height: 1;
            font-size: 12px;
        }
        
        .halfWidth {
            margin-top: 16px;
            margin-bottom: 8px;
            width: 90% !important;
            text-align: left;
        }
        .leftCol {
            padding-right: 10px;
        }
        .rightCol {
            padding-left: 10px;
        }
        .fullWidth {
            margin-top: 16px;
            margin-bottom: 8px;
            width: 95% !important;
            text-align: left;
        }
        .errorText {
            font-size: 11px;
            color: red;
        }
    }
    .buttonsHolder {
        min-height: 100px;
        padding: 25px 0px;

        .loginButton{
            padding: 8px 15px;
            font-family: "Segoeui-regular";
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 16px;
            border-radius: 0px;
            // margin-top: 35px;
            font-weight: bold;
            color: '#fff';
        }
        .greenBtn {
            font-family: Segoeui-regular;
            text-transform: capitalize;
            font-size: 15px;
            border-radius: 0px;
            // margin-top: 35px;
            font-weight: bold;
            background-color: #4caf50;
            color: #fff;
            padding: 5px 15px;
            border-radius: 0px;
            min-width: 150px;
            height: 30px;
        }
        .outlinedBtn {
            padding: 5px 15px;
            font-family: Segoeui-regular;
            text-transform: capitalize;
            font-size: 15px;
            border-radius: 0px;
            // margin-top: 35px;
            font-weight: bold;
            border: 1px solid #4caf50;
            color: #4caf50;
            min-width: 150px;
            height: 30px;
        }
    }