.stepperHolder {
    width: auto !important;
    .stepperContainer {
        svg[class*="MuiStepIcon-active"],
        svg[class*="MuiStepIcon-completed"] {
            fill: #47b16f;
        }

        $breakpoint-mobile: 600px;
        @media (max-width: $breakpoint-mobile) {
            span[class*="MuiStepLabel-label"]{
                display: none;
            }
        }
    }

}
.phoneMobile{
    width: 100%;
    padding: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid currentColor;
    padding: 12px;
    &:focus, &:hover{
        outline: none;
    }
}