.forgotPwdBlock1 {
    width: 100%;    

    .forgotPwdBlock2 {
        text-align: center;
    }
    .fullWidth {
        margin-top: 16px;
        margin-bottom: 8px;
        width: 95% !important;
        text-align: left;
    }
    .loginButton{
        padding: 8px 15px;
        font-family: "Segoeui-regular";
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 16px;
        border-radius: 0px;
        margin-top: 20px;
        font-weight: bold;
    }
    .errorText {
        font-size: 11px;
        color: red;
    }

}