body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.mainContainer {
  display: block;
  height: 100%;
  width: 100%;
}

.mainContainer .headerContainer,
.mainContainer .bodyContainer,
.mainContainer .footerContainer {
  /* display: block; */
  /* background-color: #ccc; */
  position: absolute;
  left: 0px;
  top: 0px;
}

.mainContainer .headerContainer {
  height: 60px;
  background-color: #eaeaea;
}

.mainContainer .footerContainer {
  height: 40px;
  background-color: #1e1e1e;
  top: auto;
  bottom: 0px;
  color: #ccc;
  text-align: center;
  line-height: 40px;
}

.mainContainer .bodyContainer {
  /* background-color: forestgreen; */
  height: calc(100% - 100px);
  top: 60px;
}

.bodyContainer .navContainer {
  background-color: #3f4b80;
  height: 100%;
}

.bodyContainer .navContainer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-top: 15px;
}

.bodyContainer .navContainer ul>li {
  display: block;
  position: relative;
}

.bodyContainer .navContainer ul>li>a {
  display: block;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  outline: none;
  border: none;
}
.bodyContainer .navContainer ul>li>a>img{
  width: 22px;
  height: 22px;
  padding-right: 8px;
  vertical-align: middle;
}

.bodyContainer .bodyContent {
  display: block;
  height: 100%;
  /* overflow-y: scroll; */
  padding: 15px;
}

.bodyContainer .bodySection {
  display: block;
  /* min-height: 750px; */
  padding: 15px;
}

.track-vertical {
  /* background-color: darkred; */
  height: 100%;
  width: 6px;
  right: 0px;
}

.track-vertical>div {
  border-radius: 5px !important;
  background-color: #47b16f !important;
}
.profileSection{
  display: block;
  margin: 5px 20px;
  text-align: right;
}
.profileSection>button{
  background-color: transparent !important;
}
.headerLeftSection{
  text-align: center;
}
.headerLeftSection>a{
  display: block;
  padding: 5px;
}
.headerLeftSection>a>img{
  display: block;
  width: 75%;
  height: auto;
  margin: 0px auto;
}
.loginSliderMessage{
  display: block;
  text-align: center;
  font-size: 2em;
  width: 80%;
  margin: 0px auto;
  letter-spacing: 1px;
  color: #555;
  height: 80%;
  margin-top: 10%;
}