@font-face {
    font-family: "segoeui-regular";
    src: url('./Fonts/segoeui.ttf');
}

@font-face {
    font-family: "segoeui-bold";
    src: url('./Fonts/segoeuib.ttf');
}

@font-face {
    font-family: "segoeui-italic";
    src: url('./Fonts/segoeuii.ttf');
}

@font-face {
    font-family: "segoeui-light";
    src: url('./Fonts/segoeuil.ttf');
}

@font-face {
    font-family: "segoeui-bolditalic";
    src: url('./Fonts/segoeuiz.ttf');
}

@font-face {
    font-family: "segoeui-semibold";
    src: url('./Fonts/seguisb.ttf');
}