/* Importing Default Styles */
@import "./defaultStyles.scss";

body {
    .countSection {
        .countItem {
            border: 20px solid #47b16f;
            width: 150px;
            height: 150px;
            min-width: 100px;
            min-height: 100px;
            max-width: 250px;
            max-height: 250px;
            border-radius: 50%;
            text-align: center;
            position: relative;

            >.countValue {
                position: absolute;
                color: #47b16f;
                font-weight: bold;
                font-size: 2em;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }
        }
        .countTitle{
            margin-top: 15px;
            >*{
                color: #47b16f;
            }
        }
    }
    .profileDropdown{
        min-width: 150px;
        padding: 0px;
        margin: 0px;

        li{
            text-align: center;
            display: block;
            padding: 0px;
            margin: 0px;
            padding: 5px 8px;
            overflow: unset;
            font-family: "segoeui-regular";
            &:hover{
                background-color: transparent;
                color:  #47b16f;
            }
        }
    }

    .profileImage {
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        position: relative;
        margin-right: 8px;

        >img {
            display: block;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        +span {
            display: inline-block;
            vertical-align: middle;
        }
    }

}