/* Importing Default Styles */
@import "./defaultStyles.scss";
@import "./animations.scss";

body {
    .countSection {
        .countItem {
            border: 20px solid #47b16f;
            width: 150px;
            height: 150px;
            min-width: 100px;
            min-height: 100px;
            max-width: 250px;
            max-height: 250px;
            border-radius: 50%;
            text-align: center;
            position: relative;

            >.countValue {
                position: absolute;
                color: #47b16f;
                font-weight: bold;
                font-size: 2em;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }
        }

        .countTitle {
            margin-top: 15px;

            >* {
                color: #47b16f;
            }
        }
    }

    .profileDropdown {
        min-width: 150px;
        padding: 0px;
        margin: 0px;

        li {
            /* text-align: center; */
            display: block;
            padding: 0px;
            margin: 0px;
            padding: 5px 15px;
            overflow: unset;
            font-family: "segoeui-regular";

            &:hover {
                background-color: transparent;
                color: #47b16f;
            }
        }
    }

    .profileImage {
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        position: relative;
        margin-right: 8px;

        >img {
            display: block;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        +span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .navContainer {
        background-color: #3f4b80;
        height: 100%;

    }

    .mainMobileNavigation {
        display: block;

        .toggleMenu {
            display: block;
            position: fixed;
            top: 0px;
            right: 0px;
            background-color: #ccc;
            padding: 15px;
            width: 100px;
            height: 50px;
        }

        >div {
            display: block;
            position: fixed;
            z-index: 9999;
            background-color: #3f4b80;
            width: 60%;
            min-width: 250px;
            max-width: 300px;
            height: 100%;
            top: 0px;
            transition: 1s left ease-in-out;
            /* animation-name: mobileMenu;
            animation-duration: 1s;
            animation-direction: forwards;
            animation-timing-function: ease-in-out;
            animation-delay: 500ms; */

            

            &.menuHolder {
                left: calc(-80% - 10px);
                &.showMenu {
                    left: 0px;
                }
            }

            .menuControls {
                display: block;
                text-align: right;
                padding: 12px 15px;

                >a {
                    display: inline-block;
                    text-decoration: none;
                    background-color: rgba(255, 255, 255, 0.3);
                    box-shadow: 0 0 3px #fff;
                    color: #fff;
                    font-weight: bold;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    line-height: 32px;
                }
            }
        }
    }

    .navContainer,
    .mainMobileNavigation {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin-top: 15px;

            >li {
                display: block;
                position: relative;

                >a {
                    display: block;
                    color: #fff;
                    padding: 8px 15px;
                    text-decoration: none;
                    outline: none;
                    border: none;

                    &.active {
                        background-color: #cccccc33;
                        position: relative;

                        &::after {
                            content: " ";
                            position: absolute;
                            right: -6px;
                            width: 6px;
                            top: 0px;
                            height: 100%;
                            background-color: #47b16f;
                        }
                    }

                    >img,
                    >span {
                        display: inline-block;
                        max-height: 22px;
                        vertical-align: middle;
                    }

                    >img {
                        margin-right: 8px;
                        padding: 2px;
                    }
                }
            }
        }
    }


}